# Editors
.vscode/
*~
\#*\#
.\#*

# Mac/OSX
**/.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/

# pyenv
.python-version
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
*egg-info*

# unclassified
.coverage
.coverage*
_build
_autosummary
site

# Svelte / Node
src/clinguin/client/svelte/node_modules/
src/clinguin/client/svelte/build/
src/clinguin/client/svelte/.svelte-kit/
