<div style="display: table; min-height: 100%; min-width: 100%;">
    <div style="display:table-row; min-width: 100%;">
        <div style="display:table-cell; vertical-align: middle; text-align: center;">
            <div ngbDropdown class="d-inline-block">
                <button type="button" id="{{element?.id}}" ngbDropdownToggle #ddbut ata-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{buttonLabel}}
                </button>
                <div ngbDropdownMenu>
                    <button ngbDropdownItem *ngFor="let child of dropDownMenuItems" id="{{child.element.id}}">
                        <i #icon></i>{{child.label}}</button>
                </div>
            </div>
        </div>
    </div>
</div>