/* You can add global styles to this file, and also import other style files */

/* custom.scss */
/* change theme colors */
$primary: #1f4162;
$secondary: #8369ab;
// $success: #6F9C68;
$info: #82afb5;
$warning: #b8ac61;
$danger: #CE474F;
$light: #c0d2de;
/* end custom.scss */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';