/* You can add global styles to this file, and also import other style files */

/* custom.scss */
/* change theme colors */
$primary: #0052CC;
$secondary: #6554C0;
$success: #36B37E;
$info: #B3BAC5;
$warning: #FFAB00;
$danger: #FF5630;
$light: #F4F5F7;
/* end custom.scss */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.myspinner {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 70%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: end;
    align-items: end;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.my-drop-target {
    filter: opacity(0.5);
}

.my-drop-valid-target {
    border-style: dashed !important;
    ;
    border-color: black !important;
    border-width: thin !important;
}


.my-drag-target {
    filter: opacity(0.2);
}
