clingo>=5.5.0
clorm>=1.3.6
tk
fastapi==0.103.*
typing
pydantic
networkx
uvicorn
Pillow
sphinx>=4.5.0
sphinx-rtd-theme==0.5.2
sphinx_copybutton
nbsphinx>=0.8.8
jinja2>=3.0.3
clingo-dl
furo
clingexplaid>=1.0.14
sphinxemoji
myst_parser